################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vsOld/OpenGL3DTemplate
/.vs/OpenGL3DTemplate
